<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <div layout:fragment="content">

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-header">
                            Change Password
                        </div>
                        <div class="card-body">
                            <form th:action="@{/changePassword}" th:object="${passwordForm}" method="post">
                                <div class="mb-3">
                                    <label for="oldPassword" class="form-label">Current Password</label>
                                    <input type="password" class="form-control" id="oldPassword" th:field="*{oldPassword}" required>
                                    <div class="error" th:if="${#fields.hasErrors('oldPassword')}" th:errors="*{oldPassword}">Błąd walidacji</div>
                                </div>
                                <div class="mb-3">
                                    <label for="newPassword" class="form-label">New Password</label>
                                    <input type="password" class="form-control" id="newPassword" th:field="*{newPassword}" required>
                                    <div class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Błąd walidacji</div>
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>