<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <div layout:fragment="content">
        <div class="container mt-5">
            <h2 style="text-align: center;">Stanowiska</h2>
            
            <form th:action="@{/savePositions}" th:object="${positionsForm}" method="post">
                <div class="error" th:if="${#fields.hasErrors('positions')}" th:errors="*{positions}">Błąd walidacji</div>
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Typ stanowiska</th>
                                <th scope="col">Akcja</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr th:each="position, iterStat : *{positions}">
                                    <th scope="row" th:text="${iterStat.count}">1</th>
                                    <input type="hidden" th:field="*{positions[__${iterStat.index}__].id}">
                                    <td>
                                        <input type="text" class="form-control" th:field="*{positions[__${iterStat.index}__].name}" placeholder="Wprowadź nazwę">
                                    </td>
                                    <td>
                                        <select class="form-select" th:field="*{positions[__${iterStat.index}__].positionType}">
                                            <option th:each="type : ${allPositionTypes}" th:value="${type}" th:text="${type.label}">Typ stanowiska</option>
                                        </select>
                                    </td>
                                    <td>
                                        <a th:if="${position.id != null}" th:href="@{'/deletePosition?id=' + ${position.id}}" class="btn btn-danger">
                                            <i class="bi bi-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <br>
                <button type="submit" class="btn btn-primary">
					<i class="bi bi-clipboard-plus"></i> Zapisz
				</button>
                <a href="/positions?createNew=true" class="btn btn-success">
					<i class="bi bi-clipboard-plus"></i> Utwórz
				</a>
            </form>
        </div>
    </div>
</html>