<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <div layout:fragment="content">
        <div class="container mt-3">
            <h2 style="text-align: center;">Grafik</h2>
         
            <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 40px">
                
                <!-- Grafiki  -->
                <div th:each="schedule : ${schedules}" class="col">
                    <div class="card h-100 position-relative">
                        
                        <div class="card-body">
                            <h5 class="card-title" th:text="${schedule.name}">Nazwa grupy</h5>
                        
                            <hr>
                            
                            <p class="card-text">
                                <strong>Liczba zmian:</strong> 
                                <span th:text="${schedule.assignedEventsQuantity}">Wypełnienie dyspozycyjności</span>
                            </p>
                            
                            <a th:href="@{/schedule(scheduleId=${schedule.id})}" class="btn btn-primary">
                                <i class="bi bi-box-arrow-in-left"></i> Pokaż wydarzenia
                            </a>
                    
                        </div>
                    </div>
                </div>
                
                <!-- Dyspozycyjności -->
                <div th:each="availabilityGroup : ${availabilityGroups}" class="col">
                    <div class="card h-100 position-relative">
                        
                        <div class="card-body">
                            <h5 class="card-title" th:text="${availabilityGroup.name}">Nazwa grupy</h5>
                        
                            <hr>
                            
                            <p class="card-text">
                                <strong>Wypełnienie:</strong> 
                                <span th:text="${availabilityGroup.availabilityFulfilment}">Wypełnienie dyspozycyjności</span>
                            </p>
                      
                            <p class="card-text">
                                <strong>Dyspozycyjność:</strong> 
                                <span th:text="${availabilityGroup.availabilityRate} + '%'">Dyspozycyjność</span>
                            </p>
                            <a th:if="${availabilityGroup.availabilityActive}" th:href="@{/availability(eventGroup=${availabilityGroup.id})}" class="btn btn-primary">
                                <i class="bi bi-pencil-square"></i> Wypełnij dyspozycyjność
                            </a>
                            <a th:if="${!availabilityGroup.availabilityActive}" class="btn btn-secondary">
                                 Dyspozycyjność nieaktywna
                            </a>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</html>