<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <div layout:fragment="content">
        
        <div class="container mt-3">
        
            <h2 style="text-align: center;">Spektakle</h2>

            <div sec:authorize="hasRole('MANAGER')" class="mb-3">
                <a href="/show-edit" class="btn btn-success">
					<i class="bi bi-clipboard-plus"></i> Utwórz
				</a>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Tytuł</th>
                                    <th scope="col">Scena</th>
                                    <th scope="col">Czas trwania</th>
                                    <th scope="col">Dodatkowe informacje</th>
                                    <th sec:authorize="hasRole('MANAGER')" scope="col">Akcje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="show : ${shows}">
                                    <td><span th:text="${show.title}"></span></td>
                                    <td><span th:text="${show.stage}"></span></td>
                                    <td><span th:text="${show.duration}"></span></td>
                                    <td><span th:text="${show.additionalInformation}"></span></td>
                                    <td sec:authorize="hasRole('MANAGER')"><a th:href="@{/show-edit(id=${show.id})}" class="btn btn-primary btn-sm">
										<i class="bi bi-pencil"></i> Edytuj
									</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>