<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <div layout:fragment="content">

        <div class="container mt-3">

            <h2 style="text-align: center;">Sceny</h2>

            <a sec:authorize="hasRole('MANAGER')" href="/stage-edit" class="btn btn-success">
                <i class="bi bi-clipboard-plus"></i> Utwórz
            </a>
            <br>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nazwa</th>
                                <th>Liczba miejsc</th>
                                <th>Adres</th>
                                <th sec:authorize="hasRole('MANAGER')">Akcja</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="stage : ${stages}">
                                <td th:text="${stage.id}">ID</td>
                                <td th:text="${stage.name}">Nazwa</td>
                                <td th:text="${stage.numberOfSeats}">Liczba miejsc</td>
                                <td th:text="${stage.address}">Liczba miejsc</td>
                                <td sec:authorize="hasRole('MANAGER')">
                                    <a th:href="@{/stage-edit(id=${stage.id})}" class="btn btn-primary btn-sm">
                                        <i class="bi bi-pencil"></i> Edytuj
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</html>