<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

    <div layout:fragment="content">

        <script>
            function confirmDelete() {
                const stageId = document.getElementById('id').value;
                if (confirm('Czy na pewno chcesz usunąć tę scenę?')) {
                    window.location = '/deleteStage?id=' + stageId;
                }
            }
        </script>

        <script th:inline="javascript">
            /*<![CDATA[*/
            var allPositionTypes = /*[[${allPositionTypes}]]*/ [];
            
            function addPosition() {
                var table = document.getElementById('positionsTable').getElementsByTagName('tbody')[0];
                var newRow = table.insertRow(table.rows.length);
                var cell0 = newRow.insertCell(0);
                var cell1 = newRow.insertCell(1);
                var cell2 = newRow.insertCell(2);
                var cell3 = newRow.insertCell(3);
                var newIndex = table.rows.length - 1;
            
                var selectHTML = '<select class="form-select" th:field="*{requiredPositions[' + newIndex + '].positionType}">' +
                                    '<option value="">Wybierz typ...</option>';
                                       // '<option th:each="type : ${allPositionTypes}" th:value="${type}" th:text="${type.label}">Typ stanowiska</option>';

            
                allPositionTypes.forEach(function(position) {
                    console.log(position);
                    selectHTML += '<option value="' + position.value + '">' + position.label + '</option>';
                });
            
                selectHTML += '</select>';
            
                cell0.innerHTML = '<input type="text" name="requiredPositions[' + newIndex + '].value" class="form-control medium-input" required />';
                cell1.innerHTML = selectHTML;
                cell2.innerHTML = '<input type="number" name="requiredPositions[' + newIndex + '].quantity" class="form-control" min="0" required />';
                cell3.innerHTML = '<button type="button" class="btn btn-danger btn-sm" onclick="removePosition(this)">Usuń</button>';
            }
            
            function removePosition(btn) {
                var row = btn.parentNode.parentNode;
                row.parentNode.removeChild(row);
            }
            /*]]>*/
            </script>

        <div class="container mt-5">
            <h2 th:if="${stage.id != null}" style="text-align: center;" th:text="'Edycja sceny: ' + ${stage.name}"></h2>
            <h2 th:if="${stage.id == null}" style="text-align: center;">Tworzenie nowej sceny</h2>
            <div class="mb-3">
                <a href="/stage-list" class="btn btn-secondary">
					<i class="bi bi-arrow-left"></i> Powrót
				</a>
                <button th:if="${canDelete}" onclick="confirmDelete()" class="btn btn-danger">
                    <i class="bi bi-trash">Usuń</i>
                </button>
            </div>
            <form th:action="@{/stage-edit}" th:object="${stage}" method="post">
                <input type="hidden" id="id" th:field="*{id}">
                <div class="mb-3">
                    <label for="name" class="form-label">Nazwa</label>
                    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Błąd walidacji</div>
                    <input type="text" id="name" th:field="*{name}" class="form-control short-input" required>
                </div>
        
                <div class="mb-3">
                    <label for="numberOfSeats" class="form-label">Liczba miejsc</label>
                    <input type="number" id="numberOfSeats" th:field="*{numberOfSeats}" class="form-control short-input" required>
                </div>
        
                <div class="mb-3">
                    <label for="address" class="form-label">Adres</label>
                    <input type="text" id="address" th:field="*{address}" class="form-control medium-input" required>
                </div>

                <div class="mb-4">
                    <label for="requiredPositions" class="form-label">Stanowiska</label>
                    <div class="error" th:if="${#fields.hasErrors('requiredPositions')}" th:errors="*{requiredPositions}">Błąd walidacji</div>
                    <table id="positionsTable" class="table-responsive">
                        <thead>
                            <tr>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Typ</th>
                                <th scope="col">Ilość</th>
                                <th scope="col">Akcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="stagePosition, iterStat : *{requiredPositions}">
                                <td>
                                    <input type="text" th:field="*{requiredPositions[__${iterStat.index}__].name}" class="form-control medium-input" required>
                                </td>
                                
                                <td>
                                    <select class="form-select" th:field="*{requiredPositions[__${iterStat.index}__].positionType}">
                                        <option th:each="type : ${allPositionTypes}" th:value="${type.value}" th:text="${type.label}">Typ stanowiska</option>
                                    </select>
                                </td>

                                <td>
                                    <input type="number" th:field="*{requiredPositions[__${iterStat.index}__].quantity}" class="form-control short-input" min="0" required />
                                </td>

                                <input type="hidden" th:field="*{requiredPositions[__${iterStat.index}__].id}"/>


                                <td>
                                    <button type="button" class="btn btn-danger btn-sm" onclick="removePosition(this)">Usuń</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <button type="button" class="btn btn-primary btn-sm" onclick="addPosition()">Dodaj stanowisko</button>
                </div>
        
                <button type="submit" class="btn btn-primary">
					<i class="bi bi-clipboard-plus"></i> Zapisz
				</button>
            </form>
        </div>
    </div>
</html>